// Bootstrap table port
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}
.table > thead > tr > th {
  vertical-align: bottom;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-data-data-scrollbar;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
// vendor fin

.data-contracts {
    width: 100%;
    .data-outer-table {
        table-layout: fixed;
    }
    th.data-out-row-header {
        min-width: 169px;
    }
    th.data-out-col-header {
        max-width: 90px;
        overflow-wrap: break-word;
    }
    .data-inner-table {
        height: 350px;
        overflow-y: auto;
    }
    th.data-row-header {
        min-width: 160px;
    }
    td {
        width: 90px;
    }
}

.data-legend {
    display: inline-flex;
    font-size: 18px;
    .data-legend-unit {
        display: inline-flex;
    }
    .data-no-legend {
        .data-circle {
            background-color: $data-no;
        }
    }
    .data-yes-legend {
        .data-circle {
            background-color: $data-yes;

        }
    }
    .data-info-legend {
        .data-circle {
            background-color: $data-info;
        }
    }
    .data-circle {
        border-radius: 50px;
        height: 30px;
        width: 30px;
        margin: auto 0;
        margin-left: 30px;
    }
    h4 {
        margin-left: 10px;
    }
}

.data-yes {
    background-color: $data-yes;
    &:hover {
        background-color: $data-info;
        color: lighten($data-no, 20);
        cursor: pointer;
    }
}

.data-info {
    background-color: $data-info;
}

.data-no {
    background-color: $data-no;
}

.data-output {
    display: inline-flex;
    position: relative;
    justify-content: space-around;
    margin: 30px 0;
    max-width: 100vw;
    max-height: 400px;
    font-size: 14px;
    .data-info {
        color: lighten($data-no, 20);
        max-width: 400px;
        height: 230px;
        margin-left: 30px;
        padding: 30px;
        font-size: 16px;
        span {
            min-width: 45vw;
            font-size: 16px;
        }
    }
    .data-no {
        width: 220px;
        text-align: center;
    }
    th.data-row-header {
        width: 160px;
        // Keeps text on one line
        overflow: hidden;
        white-space: nowrap;
    }
    .social-media-icons {
        position: absolute;
        bottom: 30px;
        svg {
            height: 30px;
            margin-right: 20px;
            cursor: pointer;
            transition: all 360ms ease;
            &:hover {
                height: 60px;
            }
        }
    }
}

.data-output-pool {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    .data-choose {
        background-color: black;
        color: $data-no;
        border-radius: 2px;
        padding: 0.4em 1.2em;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 20px;
        font-size: 14px;
        transition: all 360ms ease;
        &:hover {
            background-color: $data-info;
            color: white;
        }
    }
}

.data-tooltip {
    position: relative;
    span {
        display: none;
        font-size: 14px;
        text-align: left;
        max-width: 200px;
    }
    &:hover span, &:focus span, &:active span {
        display:block;
        position:absolute;
        z-index: 1000;
        top:1em;
        left:1.5em;
        padding: 0.4em 1.2em;
        border-radius: 2px;
        background-color: black;
        color: $data-no;
    }
}

th, td {
    text-align: left;
    transition: all 360ms ease;
}

@media(max-width: 910px) {
    html {
        header, .data-legend {
            font-size: 14px;
        }
        &, .data-output, th, td {
            font-size: 11px;
        }
        .data-legend {
            .data-circle {
                height: 15px;
                width: 15px;
                border-radius: 0;
                margin-left: 10px;
            }
        }
        .data-out-col-header {
            text-align: left;
        }
    }
    .data-output {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        .data-info {
            margin-left: 0;
            margin-top: 20px;
            min-height: 240px;
        }
        .social-media-icons {
            bottom: -15px;
        }
    }
}

@media (max-width: 730px) {
    .data-output-pool {
        margin-top: 65px;
    }
}

@media (max-width: 599px) {
    .data-contracts th.data-row-header {
        min-width: 35px;
    }
}
