.data-contracts {
    width:95vw;
    .data-outer-table {
        table-layout: fixed;
    }
    .data-out-row-header {
        min-width: 140px;
    }
    .data-out-col-header {
        width: 80px;
    }
    .data-inner-table {
        height: 500px;
        overflow-y: auto;
    }
    td {
        width: 80px;
    }
}

.data-yes {
    background-color: $data-yes;
    &:hover {
        background-color: $data-info;
        color: lighten($data-no, 20);
        cursor: pointer;
    }
}

.data-info {
    background-color: $data-info;
}

.data-no {
    background-color: $data-no;
}

.data-output {
    display: inline-flex;
    justify-content: space-around;
    margin: 30px 0;
    max-width: 100vw;
    max-height: 400px;
    font-size: 14px;
    .data-info {
        color: lighten($data-no, 20);
        max-width: 400px;
        height: 230px;
        margin-left: 30px;
        padding: 30px;
        font-size: 16px;
    }
    .data-no {
        width: 220px;
        text-align: center;
    }
    .data-row-header {
        width: 140px;
    }
    .social-media-icons {
        svg {
            height: 30px;
            margin-right: 20px;
            cursor: pointer;
        }
    }
}

.data-tooltip {
    position: relative;
    span {
        display: none;
        font-size: 14px;
        text-align: left;
    }
    &:hover span, &:focus span {
        display:block;
        position:absolute;
        z-index: 1000;
        top:1em;
        left:1.5em;
        padding: 0.2em 0.6em;
        border-radius: 7px;
        background-color: black;
        color: $data-no;
    }
}

th, td {
    text-align: left;
}
